sentence-transformers==4.0.1
transformers==4.48.3
tqdm>=4.64.0
onnx
onnxsim
onnxconverter_common
datasets

torch==2.0.0
optimum[onnxruntime]
chardet
mteb
faiss-cpu==1.8.0
FlagEmbedding==1.3.4
protobuf==3.20.2
numpy==1.23.5